@import url('https://fonts.googleapis.com/css2?family=Averia+Sans+Libre:ital,wght@1,300&family=Dosis:wght@500&family=Maitree:wght@300&display=swap');

.header-ctx-teks {
    font-size: 20px;
    padding: 60px;
    background-color: #E27B58;
    text-align: center;
    color: white;
}

.header-ctx-title {
    font-family: "Dosis", sans-serif;
}

.header-ctx-subtitle, .nav-list {
    font-family: "Averia Sans Libre", sans-serif;
}

.nav-list {
    font-size: 20px;
}

nav {
    background-color: #FF9D6F;
    padding: 5px;
}

.navbar {
    display: inline;
    list-style-type: none;
    margin-right: 20px;
}

nav a {
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
    color: #663926;
}

nav a:hover {
    color: white;
}

#list-btn {
    height: 36px;
}

.dropdown {
    display: inline-block;
    list-style-type: none;
}

#list-drop {
    list-style-type: none;
    position: absolute;
    background-color: #663926;
    padding: 12px 16px;
    border-radius: 10px;
    z-index: 1;
    margin-right: 15px;
}

#list-drop li {
    padding: 10px;
}

@media screen and (min-width: 461px) {
    .dropdown {
        display: none;
    }
}

@media screen and (max-width: 460px) {
    .navbar {
        display: none;
    }

    #list-drop li a {
        font-family: "Averia Sans Libre", sans-serif;
        color: white;
    }

    .nav-list {
        padding-left: 25px;
        margin: 10px 0 10px 0;
    }
}