@import url('https://fonts.googleapis.com/css2?family=Averia+Sans+Libre:ital,wght@1,300&family=Dosis:wght@500&family=Maitree:wght@300&display=swap');

body {
    margin: 0;
    padding: 0;
    height: 100%;
}

h2 {
    font-family: "Dosis", sans-serif;
    color: #E27B58;
}

p {
    font-family: "Maitree", sans-serif;
    font-weight: 800;
}

article li {
    list-style-type: none;
    font-family: "Maitree", sans-serif;
    font-weight: 800;
}

article ul {
    flex-grow: 1;
    padding-left: 15px;
}

.card {
    box-shadow: 0 4px 8px 0 #99857A;
    border-radius: 10px;
    padding: 20px;
    margin-top: 20px;
    position: relative;
    overflow: hidden;
}

.article-box {
    margin: 0 10px 0 10px;
}

.ciri-ctx {
    display: flex;
}

#ciri-img {
    border-radius: 0 0 10px 0;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
    height: 200px;
    opacity: 70%;
}

#article-img {
    width: 100%;
    max-height: 300px;
    object-fit: cover;
    object-position: center;
}