@import url('https://fonts.googleapis.com/css2?family=Averia+Sans+Libre:ital,wght@1,300&family=Dosis:wght@500&family=Maitree:wght@300&display=swap');

body {
    margin: 0;
    padding: 0;
}

h2 {
    font-family: "Dosis", sans-serif;
}

p {
    font-family: "Maitree", sans-serif;
    font-size: 400;
}

article li {
    list-style-type: none;
    font-family: "Maitree", sans-serif;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 20px;
    margin-top: 20px;
}

.card-box {
    margin: 0 10px 0 10px;
}